Game.addTemplate('default', function(){return `

<div class="container">
    <h1>Yahtzee</h1>

    <div class="row scoreboardRad">
        <div class="col-xs-2">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>1:</td>
                    </tr>
                    <tr>
                        <td>2:</td>
                    </tr>
                    <tr>
                        <td>3:</td>
                    </tr>
                    <tr>
                        <td>4:</td>
                    </tr>
                    <tr>
                        <td>5:</td>
                    </tr>
                    <tr>
                        <td>6:</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                    </tr>
                    <tr>
                        <td>Bonus:</td>
                    </tr>
                    <tr>
                        <td>1 par:</td>
                    </tr>
                    <tr>
                        <td>2 par:</td>
                    </tr>
                    <tr>
                        <td>Tretal:</td>
                    </tr>
                    <tr>
                        <td>Fyrtal:</td>
                    </tr>
                    <tr>
                        <td>Kåk:</td>
                    </tr>
                    <tr>
                        <td>Liten straight:</td>
                    </tr>
                    <tr>
                        <td>Stor straigth:</td>
                    </tr>
                    <tr>
                        <td>Chans:</td>
                    </tr>
                    <tr>
                        <td>Yahtzee:</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-2">
            <table class="table table-bordered userScoreboard">
                <tbody>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-xs-2">
            <table class="table table-bordered userScoreboard">
                <tbody>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-xs-2">
            <table class="table table-bordered userScoreboard">
                <tbody>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                    <tr>
                        <td><input type="number" class="form-control" id="yahtzeeInput"></td>
                    </tr>
                </tbody>
            </table>
        </div>
       



    </div>
    <div class="row buttonRow">
        <div class="col-lg-2">
            <button type="button" id="roll" class="btn btn-default" data-click="pressedRoll">Roll</button>
        </div>
    </div>
    <div class="row gamePlan">
        <div class="col-xs-12" id="tarning">${this.dices.display()}

        </div>
    </div>





</div>





`});
