Game.addTemplate('default', function(){return `

<div class="container gamePage">

  <nav class="navbar navbar-default">
    <div class="container-fluid navbarFluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <h1 class="headerText">Yatzy</h1>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="addUserButton" id="user" data-click="createUsers"><a href="#"><i class="ion-person-add"></i>  Add player </a></li>
          <li class="newGameBtn" id="" data-click="newGame"><a href="#"><i class="ion-plus-round"></i> New game</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="highscoreButton "><a data-toggle="modal" href="#myModal" class="highscoreBtn" data-click="highscoreList"><i class="ion-star"></i> Highscores</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



  <div class="row scoreboardRad">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 gameB">
          <table class="table table-bordered">
              <tbody>
                  <tr>
                      <td>Name:</td>
                  </tr>
                  <tr>
                      <td>Aces:</td>
                  </tr>
                  <tr>
                      <td>Twos:</td>
                  </tr>
                  <tr>
                      <td>Threes:</td>
                  </tr>
                  <tr>
                      <td>Fours:</td>
                  </tr>
                  <tr>
                      <td>Fives:</td>
                  </tr>
                  <tr>
                      <td>Sixes:</td>
                  </tr>
                  <tr>
                      <td>Total:</td>
                  </tr>
                  <tr>
                      <td>Bonus:</td>
                  </tr>
                  <tr>
                      <td>One pair:</td>
                  </tr>
                  <tr>
                      <td>Two pairs:</td>
                  </tr>
                  <tr>
                      <td>Three of a kind:</td>
                  </tr>
                  <tr>
                      <td>Four of a kind:</td>
                  </tr>
                  <tr>
                      <td>Full house:</td>
                  </tr>
                  <tr>
                      <td>Small straight:</td>
                  </tr>
                  <tr>
                      <td>Large straigth:</td>
                  </tr>
                  <tr>
                      <td>Chance:</td>
                  </tr>
                  <tr>
                      <td>Yatzy:</td>
                  </tr>
                  <tr>
                      <td>Total:</td>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 middleGameP">
          <div id="addUser"></div>
        </div>
       <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 rightGameP">
          <div class="dicesDiv" id="tarning">
            ${this.dices.display()}
          </div>
        </div>
    </div>

    <div class="row buttonRow">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="button" id="roll" class="btn btn-default rollBtn" data-click="pressedRoll" disabled>Roll</button>
        </div>
    </div>


    <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Highscores!</h4>
        </div>
        <div class="modal-body">
          <p class="name0"></p>
          <p class="name1"></p>
          <p class="name2"></p>
          <p class="name3"></p>
          <p class="name4"></p>
          <p class="name5"></p>
          <p class="name6"></p>
          <p class="name7"></p>
          <p class="name8"></p>
          <p class="name9"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

`});
