Game.addTemplate('default', function(){return `

<div class="container gamePage">

  <nav class="navbar navbar-default">
  <div class="container-fluid navbarFluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <div class="navbar-text">
          <h1>Yatzy</h1>
        </div>

        <li class="addUserButton" id="user" data-click="createUsers"><a href="#">Add user</a><span class="glyphicons glyphicons-parents"></span></li>


      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">

        </div>

      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="highscoreButton"><a href="#">Highscores!</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <div class="row scoreboardRad">
        <div class="col-xs-2 gameB">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Name:</td>
                    </tr>
                    <tr>
                        <td>1:</td>
                    </tr>
                    <tr>
                        <td>2:</td>
                    </tr>
                    <tr>
                        <td>3:</td>
                    </tr>
                    <tr>
                        <td>4:</td>
                    </tr>
                    <tr>
                        <td>5:</td>
                    </tr>
                    <tr>
                        <td>6:</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                    </tr>
                    <tr>
                        <td>Bonus:</td>
                    </tr>
                    <tr>
                        <td>1 par:</td>
                    </tr>
                    <tr>
                        <td>2 par:</td>
                    </tr>
                    <tr>
                        <td>Tretal:</td>
                    </tr>
                    <tr>
                        <td>Fyrtal:</td>
                    </tr>
                    <tr>
                        <td>Kåk:</td>
                    </tr>
                    <tr>
                        <td>Liten straight:</td>
                    </tr>
                    <tr>
                        <td>Stor straigth:</td>
                    </tr>
                    <tr>
                        <td>Chans:</td>
                    </tr>
                    <tr>
                        <td>Yahtzee:</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div id="addUser"></div>
    </div>
    <div class="row buttonRow">
        <div class="col-xs-2">
            <button type="button" id="roll" class="btn btn-default rollBtn" data-click="pressedRoll">Roll</button>
        </div>
    </div>
    <div class="row gamePlan">
        <div class="col-xs-12" id="tarning">${this.dices.display()}

        </div>
    </div>





</div>





`});
