User.addTemplate('default', function(){return `

    <div class="col-xs-2 userB">
       <table class="table table-bordered userScoreboard">
         <tbody>
           <tr>
             <td>${this.userName}</td>
           </tr>
         </tbody>
       </table>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}0" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}1" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}2" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}3" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}4" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}5" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control" id="${this.userName}6" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control" id="${this.userName}7" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}8" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}9" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}10" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}11" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}12" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}13" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}14" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}15" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control ${this.userName}" id="${this.userName}16" input style="height:23px" disabled>
         </tr>
         <tr>
           <input type="text" class="form-control" id="${this.userName}17" input style="height:25px" disabled>
         </tr>
   </div>


`});
