User.addTemplate('default', function(){return `

<div class="container">
  <div class="row userScoreList">
    <div class="lg-col-2">
     <table class="table table-bordered userScoreboard">
       <tbody>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
         <tr>
           <input type="number" class="form-control" id="yahtzeeInput">
         </tr>
       </tbody>
     </table>
   </div>
  </div>


</div>

`});
